* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 20px;
}

body {
  background: #fff;
  color: #23282d;
  font-family: "Lato", sans-serif;
  min-height: 100%;
  width: 100%;
}

.header__nav-button {
  display: block;
  height: 3.25rem;
  border: 1px solid #3174ff;
  border-radius: 2.5rem;
  color: #3174ff;
  font-size: 1.1rem;
  font-family: "Lato", sans-serif;
  background-color: #fff;
  cursor: pointer;
  border: none;
  background: transparent;
  height: 2.5rem;
  width: -moz-max-content;
  width: max-content;
}
@media (min-width: 960px) {
  .header__nav-button {
    display: block;
    height: 3.25rem;
    border: 1px solid #3174ff;
    border-radius: 2.5rem;
    color: #3174ff;
    font-size: 1.1rem;
    font-family: "Lato", sans-serif;
    background-color: #fff;
    cursor: pointer;
    width: 14rem;
  }
}

.main__container-button {
  display: block;
  height: 3.25rem;
  border: none;
  border-radius: 2.5rem;
  color: #fff;
  font-size: 0.8rem;
  font-family: "Lato", sans-serif;
  background-color: #3174ff;
  cursor: pointer;
  grid-column: 1/4;
  grid-row: 3/4;
  width: 11.25rem;
  height: 2.5rem;
  margin: 1rem auto;
}
@media (min-width: 960px) {
  .main__container-button {
    font-size: 1.1rem;
  }
}
@media (min-width: 960px) {
  .main__container-button {
    display: block;
    height: 3.25rem;
    border: none;
    border-radius: 2.5rem;
    color: #fff;
    font-size: 0.8rem;
    font-family: "Lato", sans-serif;
    background-color: #3174ff;
    cursor: pointer;
    width: 13.6rem;
    margin-left: 0;
  }
}
@media (min-width: 960px) and (min-width: 960px) {
  .main__container-button {
    font-size: 1.1rem;
  }
}

.section__variants-button {
  display: block;
  height: 3.25rem;
  border: none;
  border-radius: 2.5rem;
  color: #fff;
  font-size: 0.8rem;
  font-family: "Lato", sans-serif;
  background-color: #3174ff;
  cursor: pointer;
  height: 2.5rem;
  width: 8.35rem;
  margin: 1rem 0;
}
@media (min-width: 960px) {
  .section__variants-button {
    font-size: 1.1rem;
  }
}
@media (min-width: 960px) {
  .section__variants-button {
    display: block;
    height: 3.25rem;
    border: none;
    border-radius: 2.5rem;
    color: #fff;
    font-size: 0.8rem;
    font-family: "Lato", sans-serif;
    background-color: #3174ff;
    cursor: pointer;
    width: 10rem;
    margin: 2rem 0;
  }
}
@media (min-width: 960px) and (min-width: 960px) {
  .section__variants-button {
    font-size: 1.1rem;
  }
}

.main__container_second-form-button {
  display: block;
  height: 3.25rem;
  border: none;
  border-radius: 2.5rem;
  color: #fff;
  font-size: 0.8rem;
  font-family: "Lato", sans-serif;
  background-color: #3174ff;
  cursor: pointer;
  border-radius: 0 0 2.75rem 2.75rem;
  height: 2.75rem;
  width: 100%;
}
@media (min-width: 960px) {
  .main__container_second-form-button {
    font-size: 1.1rem;
  }
}
@media (min-width: 960px) {
  .main__container_second-form-button {
    width: 13rem;
    border-radius: 0 1.625rem 0 1.625rem;
  }
}

.main__container-numbers {
  grid-column: 1/4;
  grid-row: 3/4;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  gap: 0.7rem;
}
@media (min-width: 960px) {
  .main__container-numbers {
    grid-template-columns: repeat(3, 1fr);
  }
}
.main__container-numbers-card {
  justify-self: center;
  background-color: #f6f7fe;
  border: none;
  border-radius: 0.5rem;
  height: 5rem;
  width: 6.4rem;
}
@media (min-width: 960px) {
  .main__container-numbers-card {
    height: 8rem;
    width: 10rem;
  }
}
.main__container-numbers-card-number {
  display: block;
  color: #3174ff;
  font-size: 2.5rem;
  font-weight: 900;
  text-align: center;
  margin: 0;
  margin-top: 0.5rem;
}
@media (min-width: 960px) {
  .main__container-numbers-card-number {
    font-size: 4rem;
  }
}
.main__container-numbers-card-description {
  color: rgba(50, 55, 60, 0.5176470588);
  text-align: center;
  font-size: 1.1rem;
  margin: 0;
  line-height: 1.64rem;
}

.section__variants {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  margin: auto;
  margin-top: 5rem;
  margin-bottom: 2rem;
}
@media (min-width: 960px) {
  .section__variants {
    margin-bottom: 5rem;
  }
}
.section__variants-h3 {
  font-size: 1.95rem;
  font-weight: 900;
  margin: auto;
  line-height: 3.8rem;
  padding-bottom: 2rem;
  text-align: center;
}
@media (min-width: 960px) {
  .section__variants-h3 {
    font-size: 3.2rem;
  }
}
.section__variants-p {
  line-height: 1.67rem;
  text-align: center;
  margin: auto;
  padding: 1rem;
  font-size: 0.9rem;
}
@media (min-width: 960px) {
  .section__variants-p {
    width: 40%;
    font-size: 1rem;
  }
}
.section__variants-container {
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  box-shadow: 0 0 1.2rem 0 rgba(0, 9, 39, 0.4392156863);
  margin: 1rem;
}
@media (min-width: 960px) {
  .section__variants-container {
    flex-direction: row;
    align-items: baseline;
    padding: 1rem 0;
    margin: auto;
  }
}
.section__variants-img {
  margin-top: 1rem;
}
.section__variants-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section__variants-name {
  font-size: 1.55rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  padding: 0 2rem;
  margin: 0;
}
@media (min-width: 960px) {
  .section__variants-name {
    font-size: 2.4rem;
    padding: 1rem 2rem;
  }
}
.section__variants-line {
  width: 100%;
  border-top: 1px solid #d5d5e1;
}
.section__variants-cost {
  display: flex;
  margin-top: 2rem;
  gap: 0.5rem;
}
.section__variants-price {
  font-size: 1.5rem;
  font-weight: 700;
  color: #3174ff;
}
.section__variants-period {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0;
}
.section__variants-card-p {
  margin: 0;
  line-height: 2.8rem;
}

.header__nav-button-menu {
  background-color: transparent;
  border: none;
  display: block;
  margin-right: 1rem;
  margin-top: 1.25rem;
  z-index: 9999;
}
@media (min-width: 960px) {
  .header__nav-button-menu {
    display: none;
  }
}
.header__nav-button-menu-rec-1, .header__nav-button-menu-rec-2, .header__nav-button-menu-rec-3 {
  width: 1.1rem;
  height: 0.1rem;
  background-color: #23282d;
  margin: 0 0.95rem 0.25rem 0;
  transition: 0.5s;
}

.clicked .header__nav-button-menu-rec-1 {
  transform: translate(0, 0.35rem) rotate(-45deg);
}

.clicked .header__nav-button-menu-rec-2 {
  opacity: 0;
}

.clicked .header__nav-button-menu-rec-3 {
  transform: translate(0, -0.35rem) rotate(45deg);
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: #23282d;
  height: 2.5em;
  width: 100vw;
}
@media (min-width: 960px) {
  .header {
    height: 7.2rem;
    width: 90vw;
    margin: auto;
  }
}
.header__brand {
  text-decoration: none;
  color: #23282d;
}
.header__h1 {
  font-size: 1.2rem;
  margin: 0.9rem 0 0.15rem 1rem;
}
@media (min-width: 960px) {
  .header__h1 {
    font-size: 2rem;
    margin-top: 0;
  }
}
.header__nav {
  display: flex;
  flex-direction: column;
  position: fixed;
  background-color: #f6f7fe;
  top: 0;
  right: 0;
  padding: 1rem;
  height: 100%;
  min-width: 50%;
  transform: translateX(100%);
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
}
@media (min-width: 960px) {
  .header__nav {
    background-color: #fff;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    transform: none;
    position: relative;
    opacity: 1;
  }
}
.header__nav-visible {
  z-index: 8000;
  transform: translateX(0);
  opacity: 1;
}
.header .header__nav-list {
  display: flex;
  flex-direction: column;
  margin-top: 6rem;
  line-height: 1.8rem;
}
@media (min-width: 960px) {
  .header .header__nav-list {
    flex-direction: row;
    align-items: center;
    list-style: none;
    margin-top: 0;
  }
}
.header .header__nav-list-item {
  display: inline;
  width: -moz-max-content;
  width: max-content;
}
.header .header__nav-list-item-link {
  text-decoration: none;
  color: #23282d;
  padding-right: 2rem;
}
.header .header__nav-lang {
  margin-right: 2rem;
  padding-right: 1rem;
  border: none;
  width: -moz-max-content;
  width: max-content;
  font-family: "Lato", sans-serif;
  font-size: 1.1rem;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: url("/src/public/Polygon_1.png") no-repeat right;
}
.header .header__nav-lang:active, .header .header__nav-lang:focus {
  outline: none;
  box-shadow: none;
}

.main__container {
  display: grid;
  grid-template-columns: 1.75fr 0.25fr 2fr;
  grid-template-rows: repeat(3, auto);
  width: 100vw;
  padding: 0 1rem;
}
@media (min-width: 960px) {
  .main__container {
    display: flex;
    flex-direction: row;
    width: 85%;
    margin: auto;
    margin-bottom: 5rem;
    gap: 4rem;
  }
}
.main__container-img {
  grid-column: 2/span 2;
  grid-row: 1/2;
  width: 100%;
}
@media (min-width: 960px) {
  .main__container-img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
}
.main__container-h2 {
  grid-column: 1/4;
  grid-row: 1/2;
  align-self: center;
  font-family: "Open Sans", sans-serif;
  font-size: 1.95rem;
  line-height: 2.55rem;
  width: 8.55rem;
  z-index: 1000;
}
@media (min-width: 960px) {
  .main__container-h2 {
    font-size: 3.2rem;
    line-height: 4.35rem;
  }
}
.main__container-content {
  grid-column: 1/4;
  grid-row: 2/3;
}
.main__container-content-h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 2rem;
  font-weight: bold;
  color: #23282d;
}
.main__container-content-h3 {
  font-family: "Open Sans", sans-serif;
  font-size: 1.45rem;
  font-weight: bold;
  color: #23282d;
}
.main__container-content-p {
  font-family: "Lato", sans-serif;
  line-height: 1.5rem;
  font-size: 0.9rem;
  margin-bottom: 0.9rem;
}
@media (min-width: 960px) {
  .main__container-content-p {
    padding-bottom: 2rem;
    font-size: 1rem;
    line-height: 2rem;
  }
}
.main__container-content-p2 {
  font-size: 0.7rem;
  line-height: 0.9rem;
}
.main__container-img {
  height: auto;
}

.main__container_second {
  max-width: 100vw;
  padding: 0 1rem;
}
@media (min-width: 960px) {
  .main__container_second {
    display: flex;
    flex-direction: row;
    width: 85%;
    margin: auto;
    margin-bottom: 5rem;
    gap: 4rem;
  }
}
.main__container_second-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  margin: 1rem 0;
  height: 5.5rem;
}
@media (min-width: 960px) {
  .main__container_second-form {
    flex-direction: row;
    max-width: 37.8rem;
    border-radius: 2.5rem 2.5rem 0 2.5rem;
  }
}
.main__container_second-form-input {
  flex-grow: 1;
  height: 2.75rem;
  border: none;
  border: 2px solid #d5d5e1;
  border-radius: 2.75rem 2.75rem 0 0rem;
  padding: 0 2rem;
  font-size: 1.1rem;
}
.main__container_second-form-input::-moz-placeholder {
  text-align: center;
  color: #23282d;
  font-size: 0.8rem;
  font-family: "Lato", sans-serif;
  font-weight: 800;
}
.main__container_second-form-input::placeholder {
  text-align: center;
  color: #23282d;
  font-size: 0.8rem;
  font-family: "Lato", sans-serif;
  font-weight: 800;
}
.main__container_second-form-input:focus {
  outline: none;
}
.main__container_second-content-h3 {
  font-family: "Open Sans", sans-serif;
  font-size: 1.45rem;
  font-weight: bold;
  color: #23282d;
}
.main__container_second-content-p {
  font-family: "Lato", sans-serif;
  line-height: 1.5rem;
  font-size: 0.9rem;
  margin-bottom: 0.9rem;
}
@media (min-width: 960px) {
  .main__container_second-content-p {
    padding-bottom: 2rem;
    font-size: 1rem;
    line-height: 2rem;
  }
}
.main__container_second-content-p2 {
  font-size: 0.7rem;
  line-height: 0.9rem;
}
.main__container_second-img {
  width: 70%;
  margin: 1rem;
}
@media (min-width: 960px) {
  .main__container_second-img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
}

.main__offer {
  display: flex;
  flex-direction: column;
}
.main__offer-h4 {
  color: #3174ff;
  font-size: 0.8rem;
  text-align: center;
  margin: 0;
}
@media (min-width: 960px) {
  .main__offer-h4 {
    font-size: 1.5rem;
    line-height: 1.8rem;
  }
}
.main__offer-img {
  width: 100%;
  height: 1rem;
  -o-object-fit: contain;
     object-fit: contain;
  align-items: center;
  margin-top: 0.7rem;
}
@media (min-width: 960px) {
  .main__offer-img {
    height: 2rem;
  }
}

.section__clients-container {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  overflow: scroll;
  margin: 1rem 0;
}
.section__clients-container-img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: auto;
}
.section__clients-container-img:nth-child(2) {
  flex-shrink: 0;
  margin: auto;
}
.section__clients-container::-webkit-scrollbar {
  display: none;
  -webkit-appearance: none;
  width: 100%;
  height: 0.05rem;
  background: #d5d5e1;
  outline: none;
  opacity: 0.7;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
@media (min-width: 960px) {
  .section__clients-container-img {
    max-width: 100%;
    overflow: hidden;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.slider__container {
  width: 65%;
  margin: auto;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 1px;
  background: #d5d5e1;
  outline: none;
  opacity: 0.7;
  transition: opacity 0.2s;
}
.slider:hover {
  opacity: 1;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  width: 50%;
  height: 3px;
  background: #3174ff;
  cursor: pointer;
}

.section__quote {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  background-image: url("./../public/quote.png");
  background-repeat: no-repeat;
  background-position: top center;
}
.section__quote-txt {
  text-align: center;
  font-size: 0.8rem;
  line-height: 1.1rem;
  width: 60%;
  margin-top: 2rem;
}
@media (min-width: 960px) {
  .section__quote-txt {
    font-size: 1rem;
    line-height: 1.8rem;
    width: 45%;
  }
}
.section__quote-name {
  margin: 0;
  margin-top: 1.1rem;
  line-height: 1.2rem;
}
.section__quote-company {
  font-size: 0.8rem;
  color: #3174ff;
  line-height: 1.2rem;
}

.footer {
  background-color: #f6f7fe;
  margin-top: 1rem;
  text-align: center;
}
.footer__separator {
  border: 0.05rem solid #fff;
}
.footer__section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
@media (min-width: 960px) {
  .footer__section {
    flex-direction: row;
  }
}
.footer__brand {
  font-size: 1.5rem;
  margin-top: 2rem;
}
.footer__contact {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (min-width: 960px) {
  .footer__contact {
    flex-direction: row;
    gap: 3rem;
  }
}
.footer__contact-p {
  font-size: 0.8rem;
  line-height: 1.2rem;
}
@media (min-width: 960px) {
  .footer__contact-p {
    font-size: 1.1rem;
  }
}
.footer__contact-email {
  color: #f56e28;
  font-size: 0.8rem;
}
@media (min-width: 960px) {
  .footer__contact-email {
    font-size: 1.1rem;
  }
}
.footer__contact-h3 {
  font-size: 1.1rem;
  margin: 2rem;
}
.footer__link {
  text-decoration: none;
}
.footer__link-h4 {
  color: #3174ff;
  font-size: 0.8rem;
  text-align: center;
  margin-bottom: 2rem;
}
@media (min-width: 960px) {
  .footer__link-h4 {
    font-size: 1.5rem;
  }
}
.footer__link-img {
  width: 100%;
  height: 1rem;
  -o-object-fit: contain;
     object-fit: contain;
  align-items: center;
  margin-top: 2rem;
}
@media (min-width: 960px) {
  .footer__link-img {
    height: 2rem;
  }
}
.footer__copyright {
  width: 85%;
  margin: auto;
  line-height: 4rem;
  font-size: 0.7rem;
  text-align: center;
}/*# sourceMappingURL=main.css.map */