$breakpoints: (
  "small": (
    min-width: 300px,
  ),
  "medium": (
    min-width: 800px,
  ),
  "large": (
    min-width: 1000px,
  ),
  "huge": (
    min-width: 1200px,
  ),
);

$base-color: #fff;
$primary-color: #23282d;
$secondary-color: #3174ff;
$card-color: #f6f7fe;
$card-p: #32373c84;
$line-color: #d5d5e1;
$email-color: #f56e28;

$main-font: "Lato", sans-serif;
$title-font: "Open Sans", sans-serif;
$decor-font: "Inter", sans-serif;
