.header__nav-button-menu {
  background-color: transparent;
  border: none;
  display: block;
  margin-right: 1rem;
  margin-top: 1.25rem;
  z-index: 9999;

  @include respond-to("medium") {
    display: none;
  }

  &-rec-1,
  &-rec-2,
  &-rec-3 {
    width: 1.1rem;
    height: 0.1rem;
    background-color: $primary-color;
    margin: 0 0.95rem 0.25rem 0;
    transition: 0.5s;
  }
}

.clicked .header__nav-button-menu-rec-1 {
  transform: translate(0, 0.35rem) rotate(-45deg);
}

.clicked .header__nav-button-menu-rec-2 {
  opacity: 0;
}

.clicked .header__nav-button-menu-rec-3 {
  transform: translate(0, -0.35rem) rotate(45deg);
}
