@import "./../utilities/variables";

.header__nav-button {
  height: 3.25rem;
  width: 14rem;
  border: 1px solid $secondary-color;
  border-radius: 2.5rem;
  color: $secondary-color;
  font-size: 1.1rem;
  font-family: $main-font;
  background-color: $base-color;

  cursor: pointer;
}

.main__container-button {
  height: 3.25rem;
  width: 13.6rem;
  border: none;
  border-radius: 2.5rem;
  color: $base-color;
  font-size: 1.1rem;
  font-family: $main-font;
  background-color: $secondary-color;

  cursor: pointer;
}
