@import "./../utilities/variables";

.main__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 85%;
  margin: auto;
  margin-bottom: 5rem;
  gap: 8rem;
}

.main__container-content-h2 {
  font-family: $title-font;
  font-size: 3.2rem;
  line-height: 4.35rem;
}

.main__container-content-p {
  font-family: $main-font;
  line-height: 2rem;
  padding-bottom: 2rem;
}

.main__container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.main__offer {
  display: flex;
  flex-direction: column;
}

.main__offer-h4 {
  color: $secondary-color;
  font-size: 1.5rem;
  line-height: 1.8rem;
  text-align: center;
  margin: 0;
}

.main__offer-img {
  width: 100%;
  height: 2rem;
  object-fit: contain;
  align-items: center;
}
