@import "./../utilities/variables";

.main__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 85%;
  margin: auto;
  margin-bottom: 5rem;
  gap: 8rem;

  &-content-h2 {
    font-family: $title-font;
    font-size: 3.2rem;
    line-height: 4.35rem;
  }

  &-content-p {
    font-family: $main-font;
    line-height: 2rem;
    padding-bottom: 2rem;
  }

  & img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.main__offer {
  display: flex;
  flex-direction: column;

  &-h4 {
    color: $secondary-color;
    font-size: 1.5rem;
    line-height: 1.8rem;
    text-align: center;
    margin: 0;
  }

  &-img {
    width: 100%;
    height: 2rem;
    object-fit: contain;
    align-items: center;
  }
}

// ----- clients -----

.section__clients-container {
  max-width: 100%;
  display: flex;
  justify-content: space-between;

  &-img {
    max-width: 100%;
    overflow: hidden;
    object-fit: cover;
  }

  &-img:nth-child(2) {
    flex-shrink: 0;
    margin: auto;
  }
}

//  ----- slider -----

.slider__container {
  width: 65%;
  margin: auto;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 1px;
  background: $line-color;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;

  &:hover {
    opacity: 1;
  }

  &::-webkit-slider-thumb {
    appearance: none;
    width: 10%;
    height: 3px;
    background: $secondary-color;
    cursor: pointer;
  }
}

// ----- quote -----

.section__quote {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
  background-image: url("./../public/quote.png");
  background-repeat: no-repeat;
  background-position: top center;

  &-txt {
    line-height: 1.8rem;
    text-align: center;
    width: 45%;
    margin-top: 4rem;
  }

  &-name {
    margin: 0;
    line-height: 1.2rem;
  }

  &-company {
    font-size: 0.8rem;
    color: $secondary-color;
    line-height: 1.2rem;
  }
}
