@import "./../utilities/variables";

.footer {
  background-color: $card-color;

  &__separator {
    border: 0.2rem solid $base-color;
  }

  &__section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    @include respond-to("medium") {
      flex-direction: row;
    }
  }

  &__contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 3rem;

    @include respond-to("medium") {
      flex-direction: row;
    }

    &-p {
      font-size: 1.1rem;
    }

    &-email {
      color: $email-color;
      font-size: 1.1rem;
    }
  }

  &__link {
    color: $secondary-color;
    font-size: 1.5rem;
    text-align: center;
  }

  &__copyright {
    width: 85%;
    margin: auto;
    line-height: 4rem;
  }
}
