@import "./../utilities/variables";

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: $primary-color;
  height: 7.2rem;
  width: 90vw;
  margin: auto;
}

.header__h2 {
  font-size: 2rem;
  line-height: 2.4rem;
  margin: 0;
}
