@import "./../utilities/variables";

.navigation__a {
  padding-right: 2rem;
  text-decoration: none;
  color: $primary-color;
}

.navigation__select {
  margin-right: 2rem;
  padding-right: 1rem;
  border: none;
  font-family: $main-font;
  font-size: 1.1rem;
  appearance: none;
  background: url("/src/public/Polygon\ 1.png") no-repeat right;
}

select:active,
select:focus {
  outline: none;
  box-shadow: none;
}
